#map {
    width: 75%;
    height: 100vh;
    float: left;
}

.sidebar {
    width: 25%;
    height: 100vh;
    padding: 20px;
    background: #f5f5f5;
    float: left;
}

#routes-list {
    margin-top: 20px;
}